@charset "UTF-8";
/*-------------------------------------------
Fonts
-------------------------------------------*/
/*-------------------------------------------
Base width
-------------------------------------------*/
/*-------------------------------------------
Breakpoint
-------------------------------------------*/
/*-------------------------------------------
Common color
-------------------------------------------*/
/*-------------------------------------------
link color
-------------------------------------------*/
/* フォント
-------------------------------------------*/
/* breakpoint
-------------------------------------------*/
/* Only use hover on PC
-------------------------------------------*/
/* Calculate letter-spacing photoshop
-------------------------------------------*/
/* Clearfix
-------------------------------------------*/
/* Other
-------------------------------------------*/
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

/*
Open Sans: font-family: 'Open Sans', sans-serif;
----------------------------------------------------*/
/*
Noto Sans CJK JP
----------------------------------------------------*/
@font-face {
  font-family: "NotoSansCJKjp";
  src: local("Noto Sans CJK JP Thin"), local("NotoSansCJKjp-Thin");
  src: url(../font/NotoSansCJKjp-Thin.woff2) format("woff2");
  src: url(../font/NotoSansCJKjp-Thin.woff) format("woff");
  src: url(../font/NotoSansCJKjp-Thin.otf) format("opentype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "NotoSansCJKjp";
  src: local("Noto Sans CJK JP Light"), local("NotoSansCJKjp-Light");
  src: url(../font/NotoSansCJKjp-Light.woff2) format("woff2");
  src: url(../font/NotoSansCJKjp-Light.woff) format("woff");
  src: url(../font/NotoSansCJKjp-Light.otf) format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "NotoSansCJKjp";
  src: local("Noto Sans CJK JP DemiLight"), local("NotoSansCJKjp-DemiLight");
  src: url(../font/NotoSansCJKjp-DemiLight.woff2) format("woff2");
  src: url(../font/NotoSansCJKjp-DemiLight.woff) format("woff");
  src: url(../font/NotoSansCJKjp-DemiLight.otf) format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "NotoSansCJKjp";
  src: local("Noto Sans CJK JP Regular"), local("NotoSansCJKjp-Regular");
  src: url(../font/NotoSansCJKjp-Regular.woff2) format("woff2");
  src: url(../font/NotoSansCJKjp-Regular.woff) format("woff");
  src: url(../font/NotoSansCJKjp-Regular.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "NotoSansCJKjp";
  src: local("Noto Sans CJK JP Medium"), local("NotoSansCJKjp-Medium");
  src: url(../font/NotoSansCJKjp-Medium.woff2) format("woff2");
  src: url(../font/NotoSansCJKjp-Medium.woff) format("woff");
  src: url(../font/NotoSansCJKjp-Medium.otf) format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "NotoSansCJKjp";
  src: local("Noto Sans CJK JP Bold"), local("NotoSansCJKjp-Bold");
  src: url(../font/NotoSansCJKjp-Bold.woff2) format("woff2");
  src: url(../font/NotoSansCJKjp-Bold.woff) format("woff");
  src: url(../font/NotoSansCJKjp-Bold.otf) format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "NotoSansCJKjp";
  src: local("Noto Sans CJK JP Black"), local("NotoSansCJKjp-Black");
  src: url(../font/NotoSansCJKjp-Black.woff2) format("woff2");
  src: url(../font/NotoSansCJKjp-Black.woff) format("woff");
  src: url(../font/NotoSansCJKjp-Black.otf) format("opentype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "TAHOMA";
  src: url(../font/TAHOMA.woff) format("woff");
  src: url(../font/TAHOMA.otf) format("opentype");
  font-style: normal;
  font-weight: 500;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
header
------------------------------------------------------------*/
#header {
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  #header {
    background-color: unset;
  }
}

#header #gnav {
  width: 100%;
}

#header #gnav > ul {
  text-transform: uppercase;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 10px 0;
}

@media screen and (max-width: 1060px) {
  #header #gnav > ul {
    display: -webkit-box !important;
    display: flex !important;
  }
}

@media screen and (max-width: 767px) {
  #header #gnav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: justify;
    padding: 40px 0;
    display: none !important;
  }
}

#header #gnav > ul li {
  margin-right: 35px;
  z-index: 999;
  color: #ffffff;
  font-size: 2.4rem;
}

@media screen and (max-width: 767px) {
  #header #gnav > ul li {
    padding: 10px 0;
  }
}

#header #gnav > ul li:hover {
  opacity: 0.5;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  margin-top: 50px;
}

.c-footer .copyright {
  background-color: #232222;
  padding: 6px 0;
  color: #ffffff;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  font-family: "Open Sans", "NotoSansCJKjp", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-cont {
  width: 100%;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1060px) {
  .l-cont {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}

@media screen and (max-width: 1060px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 1061px) {
  .pad-sp-only {
    display: none !important;
  }
  a:hover, a:hover img {
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=80)";
    text-decoration: none;
  }
}

section {
  padding: 50px 0;
}

/* mainvisual
------------------------------------------------------------*/
.mainvisual {
  position: relative;
}

.mainvisual_img {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .mainvisual_img {
    -o-object-fit: contain;
    object-fit: contain;
    height: auto;
  }
}

.mainvisual_team {
  position: absolute;
  bottom: 50px;
  left: 100px;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 4.5rem;
  text-shadow: 1px 1px;
}

@media screen and (max-width: 767px) {
  .mainvisual_team {
    font-size: 2.4rem;
    left: 25px;
    bottom: 15px;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn01 {
  margin-top: 10px;
  padding: 15px 45px;
  background-color: #ccc;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .c-btn01 {
    padding: 10px 25px;
  }
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-title01 {
  font-size: 4.0rem;
  position: relative;
  padding-left: 20px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.c-title01::before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  background-color: #cccccc;
  top: 0;
  left: 0;
}

/* c-title02
------------------------------------------------------------*/
.c-title02 {
  margin-bottom: 23px;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  color: #1c72c9;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  z-index: 1;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .c-title02 {
    margin-bottom: 15px;
    font-size: 2rem;
  }
}

.c-title02:after {
  position: absolute;
  content: '';
  left: 0;
  background-color: #fff29c;
  height: 16px;
  width: 100%;
  bottom: -2px;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .c-title02:after {
    height: 12px;
    bottom: 1px;
  }
}

/* c-title03
------------------------------------------------------------*/
.c-title03 {
  margin-bottom: 22px;
}

.c-title03_jp {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-left: 14px;
  letter-spacing: -0.07rem;
}

.c-title03 .c-title02 {
  margin-bottom: 0;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-form .c-input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.c-form textarea {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.6rem;
}

/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text01 {
  font-size: 1.6rem;
  text-align: justify;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-nav {
  overflow-y: scroll;
  height: 400px;
  font-size: 1.6rem;
  text-align: left;
  width: calc(100% - 98px);
  float: right;
}

.c-nav li:before {
  background-image: url(../img/line.png);
  background-repeat: repeat-x;
  content: "";
  display: block;
  padding-top: 25px;
  height: 1px;
}

.c-nav li:after {
  padding-bottom: 20px;
  content: "";
  display: block;
}

.c-nav li:last-child:after {
  background-image: url(../img/line.png);
  background-repeat: repeat-x;
  content: "";
  display: block;
  margin-top: 21px;
  height: 1px;
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-list_item {
  width: 33.33%;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .c-list_item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.c-list_name {
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 10px;
}

.c-list_img {
  width: 100%;
  height: 30rem;
}

.c-list_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.c-list_intro {
  text-align: justify;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-box {
  width: 100%;
}

.c-box_item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .c-box_item {
    padding: 15px 0;
    margin-bottom: 0px;
  }
}

.c-box_left {
  width: 50%;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .c-box_left {
    width: 100%;
    padding-bottom: 20px;
  }
}

.c-box_right {
  width: 50%;
  max-height: 250px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .c-box_right {
    width: 100%;
    margin-bottom: 20px;
  }
}

.c-box_right img {
  height: 100%;
  width: 100%;
}

.focused {
  opacity: 0.3 !important;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
}

.flex-table {
  display: table;
}

.flex-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-flow: wrap-reverse;
}

:root {
  --screen-width:     320px;
  --screen-height:    560px;
  --header-bg-color:  #673AB7;
  --splash-bg-color:  #368887;
}

@media screen and (max-width: 767px) {
  .nav {
    height: 0;
  }
}

.nav__toggle {
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: inline-block;
  position: absolute;
  z-index: 10;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  right: 15px;
  top: 15px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear;
}

.nav__toggle:hover, .nav__toggle:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: var(--screen-height);
  position: relative;
  z-index: 5;
  visibility: hidden;
  margin-top: 70px;
}

.nav__item {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}

.nav__item:nth-child(1) {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
}

.nav__item:nth-child(2) {
  -webkit-transform: translateY(-80px);
  transform: translateY(-80px);
}

.nav__item:nth-child(3) {
  -webkit-transform: translateY(-120px);
  transform: translateY(-120px);
}

.nav__item:nth-child(4) {
  -webkit-transform: translateY(-160px);
  transform: translateY(-160px);
}

.nav__item:nth-child(5) {
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
}

.nav__link {
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2.6rem;
  font-family: 'Open Sans';
  text-decoration: none;
  padding: 1rem;
}

.nav__link:hover, .nav__link:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.menuicon {
  display: block;
  cursor: pointer;
  color: white;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menuicon__bar, .menuicon__circle {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.menuicon__bar {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.menuicon__circle {
  -webkit-transition: stroke-dashoffset .3s linear .1s;
  transition: stroke-dashoffset .3s linear .1s;
  stroke-dashoffset: 144.51326;
  stroke-dasharray: 144.51326;
}

.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;
}

.splash::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(35deg, #43cea2 20%, #185a9d 52%);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  width: 284vmax;
  height: 284vmax;
  top: -142vmax;
  left: -142vmax;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06), -webkit-transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  will-change: transform;
}

.nav:target > .splash::after,
.nav--open > .splash::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.nav:target .menuicon,
.nav--open .menuicon {
  color: white;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav:target .menuicon__circle,
.nav--open .menuicon__circle {
  stroke-dashoffset: 0;
}

.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
.nav--open .menuicon__bar:nth-child(1),
.nav--open .menuicon__bar:nth-child(4) {
  opacity: 0;
}

.nav:target .menuicon__bar:nth-child(2),
.nav--open .menuicon__bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav:target .menuicon__bar:nth-child(3),
.nav--open .menuicon__bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav:target .nav__menu,
.nav--open .nav__menu {
  visibility: visible;
}

.nav:target .nav__item,
.nav--open .nav__item {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.height_textarea {
  max-height: initial !important;
}

#pagetop {
  display: none;
  position: fixed;
  bottom: 154px;
  right: 36px;
  z-index: 99;
}

@media screen and (max-width: 767px) {
  #pagetop {
    right: 10px;
  }
}

#pagetop a {
  background: #1c72c9;
  border: 2px solid #1c72c9;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#pagetop a span {
  position: relative;
  top: -4px;
  left: 0;
}

#pagetop a span:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -11px;
  height: 7px;
  width: 7px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: translateX(-50%) rotate(-227deg);
  transform: translateX(-50%) rotate(-227deg);
}

@media screen and (max-width: 767px) {
  #pagetop a span:before {
    border-width: 2px;
  }
}

@media screen and (min-width: 768px) {
  #pagetop a:hover {
    opacity: 1;
    background: linear-gradient(35deg, #43cea2 5%, #185a9d 65%);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  #pagetop a:hover span:before {
    border-color: #fff;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
#members {
  padding-top: 0;
}

#contact {
  padding-top: 0;
  padding-bottom: 0;
}

#services {
  padding-top: 0;
}

#about {
  padding-bottom: 0;
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-about {
  line-height: 2;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-date {
  padding-right: 25px;
  padding-left: 15px;
}
.c-error {
  display: inline-block;
  top: -10px;
  color: #e22b2b;
  position: relative;
  font-weight: 500;
}

.c-success {
  color: #5ccc9d;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

/*# sourceMappingURL=style.css.map */
